<style>
  .questionImage {
    max-width: 25%;
    height: auto;
  }
</style>
<div class="container-fluid">
  <div [class.row]="smallScreen">
    <h2 class="page-header" [class.col-8]="smallScreen">Fragen verwalten</h2>
    <a *ngIf="smallScreen" routerLink="/configuration/manageQuestions/createOrEditQuestion" class="btn btn-outline-primary col-3 page-header-button">
      <i class="bi bi-plus-lg text-success" width="16" height="16"></i>
      <span>&nbsp;Neu</span>
    </a>
  </div>
  <hr class="page-header-divider">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="input-group">
        <div class="form-outline w-75">
          <input type="search" id="form1" class="form-control" (input)="onSearchTextChanged($event.target.value)" [(ngModel)]="questionSearchText"/>
        </div>
      </div>
    </div>
    <div class="col-12 my-2 col-md-3">
      <div *ngIf="selectedSubject != null" id="subject" class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="subjectDropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedSubject.description}}
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="subjectDropdown">
          <button *ngFor="let subject of subjects" class="dropdown-item" type="button"
            (click)="subjectChanged(subject)">{{subject.description}}</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <input list="subjectAreas" class="datalist">
      <datalist id="subjectAreas">
        <ng-container *ngFor="let area of subjectAreas">
          <option value="{{area.descriptionSubjectArea}}"></option>
        </ng-container>
      </datalist>
    </div>
    <div *ngIf="!smallScreen" class="col-3">
      <a href="#/configuration/manageQuestions/createOrEditQuestion" class="float-right btn btn-outline-primary">
        <i class="bi bi-plus-lg text-success" width="16" height="16"></i>
        &nbsp;Frage hinzufügen
      </a>
    </div>
  </div>
  <div>
  <div class="mt-4 alert alert-danger" role="alert" *ngIf="showDeleteQuestionAlert">
    <span>Soll die Frage <strong>{{questionToDelete.question}}</strong> wirklich gelöscht werden?</span>
    <br>
    <div class="btn-group mt-3">
      <button type="button" class="mr-5 btn btn-outline-success" (click)="deleteQuestion()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
          <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" fill="#000" />
        </svg>
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="closeDeleteQuestionAlert()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" fill="#000" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" fill="#000" />
        </svg>
      </button>
    </div>
  </div>
    <div class="mt-4">
      <ul class="list-group w-100">
        <li *ngFor="let question of questions$ | async" class="list-group-item">
          <div class="row">
            <div class="col-10">
              <div *ngIf="question.questionImage != null && question.questionImage != ''" (click)="imageClicked(question.questionImage)">
                <img [src]="question.questionImage" class="questionImage"/>
                <br>
              </div>
              <span class="h4">{{question.question}}</span>
            </div>
            <div class="col-2 text-right">
              <button type="button" class="mr-2 btn btn-outline-primary" (click)="questionClicked(question)">
                <i class="bi bi-pencil" width="16" height="16"></i>
              </button>
              <button type="button" class="mr-2 btn btn-outline-danger" [class.mt-2]="smallScreen" (click)="showDeleteQuestionAlertClick(question)">
                <i class="bi bi-trash" width="16" height="16"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <span class="col-12 h5">{{question.subject}}</span>
            <span class="col-12 h6">Themenbereich: {{question.subjectArea}}</span>
            <span class="col-12 h6">Prio: {{question.prio}}</span>
            <span class="col-12">Erstellt: {{question.createdAt | date: 'dd.MM.yyyy'}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="loader-modal" *ngIf="questionsLoading"></div>
<show-image-in-full-screen #showImageComponent></show-image-in-full-screen>
