<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2 class="mt-4 font-weight-light">Frage hinzufügen</h2>
    </div>
    <div class="col-6">
      <button style="width: auto;" type="button" class="mt-4 float-right btn btn-outline-primary"
        (click)="saveQuestion()"
        [disabled]="selectedSubject == null || selectedSubjectArea == null || answers.length == 0 || answers[0].answer == '' || (selectedQuestionType == 'multipleChoice' && this.multipleChoiceRightAnswer == 0)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-plus-lg text-success" viewBox="0 0 16 16">
          <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
        </svg>
        &nbsp;Frage speichern
      </button>
    </div>
  </div>
  <hr class="my-3">
  <div *ngIf="subjects != null">
    <div class="form-group">
      <label for="subject">Fach</label>
      <div id="subject" class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="subjectDropdown"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedSubject.description}}
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="subjectDropdown">
          <button *ngFor="let subject of subjects" class="dropdown-item" type="button"
            (click)="subjectChanged(subject)">{{subject.description}}</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="subjectArea">Themenbereich</label>
      <jqxComboBox class="w-100" [(ngModel)]="selectedSubjectArea"
        #subjectAreaComboBox [height]="38" [source]="subjectAreaForDropdown" [selectedIndex]="0"
        (onChange)="subjectAreaValueChange($event)">
      </jqxComboBox>
    </div>
    <div class="form-group">
      <label for="prio" class="form-label">Priorisierung</label>
      <br>
      <input type="range" class="form-range w-100" [value]="selectedPrio" min="1" max="10" step="1" id="prio"
        #prioSlider (change)="prioRangeChanged(prioSlider.value)" />
      <p class="text-center">{{selectedPrio}}</p>
    </div>
    <div class="form-group">
      <label for="question">Frage</label>
      <input type="text" class="form-control" id="question" aria-describedby="question" placeholder="Frage..."
        [(ngModel)]="question" />
    </div>
    <div class="form-group">
      <label for="questionType">Typ</label>
      <br>
      <div class="w-100">
        <ng-container id="questionType" class="form-control btn-group row" role="group" aria-label="QuestionType">
          <button type="button" class="col-6 form-control btn btn-outline-secondary"
            [class.active]="selectedQuestionType == 'normal'" (click)="setSelectedType('normal')">
            Normal
          </button>
          <button type="button" class="col-6 form-control btn btn-outline-secondary"
            [class.active]="selectedQuestionType == 'multipleChoice'" (click)="setSelectedType('multipleChoice')">
            Multiple Choice
          </button>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="selectedQuestionType == 'normal'">
        <div class="row">
          <div class="col-10">
            <label for="questionAnswers">Antwort/en</label>
          </div>
          <div class="col-2">
            <button style="width: auto;" type="button" class="float-right btn btn-outline-primary"
              (click)="addAnswer()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-plus-lg text-success" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
              </svg>
              &nbsp;Antwort hinzufügen
            </button>
          </div>
        </div>
        <ng-container *ngFor="let answer of answers">
          <div class="row">
            <div class="col-10">
              <input type="text" class="form-control mt-3" placeholder="Antwort" [(ngModel)]="answer.answer"/>
            </div>
            <div class="col-2">
              <button style="width: auto;" type="button" class="float-right btn btn-outline-danger mt-3"
                (click)="removeAnswer(answer)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-dash text-danger" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
                &nbsp;Antwort entfernen
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="selectedQuestionType == 'multipleChoice'">
        <label for="multipleChoiceAnswers">Antworten</label>
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="mulipleChoiceRightAnswerSelected(1)" [checked]="multipleChoiceRightAnswer == 1"  />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="answers[0].answer" placeholder="Antwort 1" />
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="mulipleChoiceRightAnswerSelected(2)" [checked]="multipleChoiceRightAnswer == 2"  />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="answers[1].answer" placeholder="Antwort 2" />
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="mulipleChoiceRightAnswerSelected(3)" [checked]="multipleChoiceRightAnswer == 3"  />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="answers[2].answer" placeholder="Antwort 3" />
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="mulipleChoiceRightAnswerSelected(4)" [checked]="multipleChoiceRightAnswer == 4" />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="answers[3].answer" placeholder="Antwort 4" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
