<div class="navbar">
  <h1 class="font-weight-light">UniHelper</h1>
  <div class="navbar-item">
    <a class="navbar-link" href="/#/answerQuestion">
      <i class="bi bi-question-circle navbar-icon"></i>
      <span class="ml-2">Fragen</span>
    </a>
  </div>
  <div class="navbar-item">
    <a class="navbar-link" href="/#/vocabulary">
      <i class="bi bi-book navbar-icon"></i>
      <span class=ml-2>Vokabeln</span>
    </a>
  </div>
  <div class="navbar-item">
    <a class="navbar-link" href="/#/notes">
      <i class="bi bi-journal-text navbar-icon"></i>
      <span class="ml-2">Notizen</span>
    </a>
  </div>
  <div class="navbar-item">
    <div class="navbar-dropdown">
      <i class="bi bi-tools navbar-icon"></i>
      <span class="ml-2">Konfiguration</span>
      <div class="navbar-dropdown-content">
        <a routerLink="/configuration/manageQuestions">Fragen verwalten</a>
        <a routerLink="/configuration/manageVocabulary">Vokabeln verwalten</a>
        <a routerLink="/configuration/manageSubjectAreas">Themenbereiche verwalten</a>
      </div>
    </div>
  </div>
</div>
