
<div class="container-fluid">
  <div class="my-3">
    <div class="row">
      <div [class.col-10]="editMode" [class.col-12]="!editMode">
        <button type="buttton" class="float-right btn btn-outline-primary" (click)="saveNote()" [disabled]="noteTitle == null || noteTitle == '' || noteText == null || noteText == ''">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z" />
          </svg>
          &nbsp;Speichern
        </button>
      </div>
      <div *ngIf="editMode" class="col-2">
        <button class="btn btn-outline-danger" (click)="showDeleteAlert = true">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg>
          &nbsp;Notiz löschen
        </button>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="showDeleteAlert" class="my-2 alert alert-danger">
    <span>Soll die Notiz wirklich gelöscht werden? Alle damit verbundenen Vorschläge werden auch gelöscht!</span>
    <br>
    <div class="row mt-3">
      <div class="col-2">
        <button class="float-right btn btn-outline-primary" (click)="showDeleteAlert = false">
          Abbrechen
        </button>
      </div>
      <div class="col-8"></div>
      <div class="col-2">
        <button class="float-left btn btn-outline-danger" (click)="deleteQuestion()">
          Löschen
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <div *ngIf="subjects.length > 0" id="subject" class="dropdown ml-3">
            <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="subjectDropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{selectedSubject.description}}
            </button>
            <div class="dropdown-menu w-100" aria-labelledby="subjectDropdown">
              <button *ngFor="let subject of subjects" class="dropdown-item" type="button"
                (click)="subjectChanged(subject)">{{subject.description}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 pl-3">
        <div class="col-12">
          <jqxComboBox class="w-100" #subjectAreaComboBox [height]="38" [source]="subjectAreaForDropdown" [selectedIndex]="0"
            (onChange)="subjectAreaValueChange()">
          </jqxComboBox>
        </div>
      </div>
      <div class="mt-2 pl-3">
        <button class="btn btn-outline-primary" (click)="showNote = true" [disabled]="selectedSubjectArea == null || selectedSubjectArea == ''">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg text-success" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
          </svg>
          &nbsp;Notiz hinzufügen
        </button>
      </div>
      <div class="mt-2 pl-3">
      </div>
      <div class="mt-2 pl-3">
        <ul class="list-group">
          <li *ngFor="let note of notes" class="list-group-item" (click)="noteSelected(note)">
            <span class="h4">{{note.noteTitle}}</span>
            <br>
            <span class="h5">{{note.description}}</span>
            <br>
            <span class="h6">{{note.descriptionSubjectArea}}</span>
            <br>
            <span>Erstellt: {{note.createdAt | date: 'dd.MM.yyyy'}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="showNote" class="col-9">
      <input type="text" class="form-control mb-2" placeholder="Titel..." [(ngModel)]="noteTitle"/>
      <div style="height: 86vh;">
        <textarea class="form-control w-100 h-100" [(ngModel)]="noteText"></textarea>
      </div>
    </div>
  </div>
</div>
