<style>
  .questionImage {
    max-width: 35%;
    height: auto;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <h2 class="page-header col-8 col-md-10">Fragen beantworten</h2>
    <div *ngIf="started" class="col-4 col-md-2 page-header-button">
      <button class="btn btn-outline-danger" (click)="questionToAnswer=null;started=false">
        <span class="text-danger">Beenden</span>
      </button>
    </div>
  </div>
  <hr class="page-header-divider">
  <div *ngIf="!started">
    <div class="row">
      <div class="col-6">
        <p-dropdown class="col-8 col-md-10" styleClass="w-100" [options]="subjects" [(ngModel)]="selectedSubject"
          (onChange)="subjectChanged($event.value)">
          <ng-template let-subject pTemplate="selectedItem">
            <div>{{subject.description}}</div>
          </ng-template>
          <ng-template let-subject pTemplate="item">
            <div>{{subject.description}}</div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-6">
        <p-multiSelect styleClass="w-100" display="chip" [options]="subjectAreas" [(ngModel)]="selectedSubjectAreas"
          optionLabel="descriptionSubjectArea" defaultLabel="Themenbereiche auswählen">
          <ng-template let-subjectArea pTemplate="item">
            <div>{{subjectArea.descriptionSubjectArea}}</div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>
    <div class="row mt-4 ml-1">
      <div class="col-md-6 col-sm-12">
        <div class="d-flex">
          <div class="d-flex flex-column">
            <small for="prioFor" class="control-label">Prio von</small>
            <p-inputNumber [(ngModel)]="prioFrom" [showButtons]="true" spinnerMode="vertical" id="prioFor"
              inputStyleClass="prioInputs" [min]="1" [max]="10" incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"></p-inputNumber>
          </div>
          <div class="d-flex flex-column">
            <small for="prioTo" class="control-label">Prio bis</small>
            <p-inputNumber [(ngModel)]="prioTo" [showButtons]="true" spinnerMode="vertical" id="prioTo"
              inputStyleClass="prioInputs" [min]="1" [max]="10" incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"> </p-inputNumber>
          </div>
        </div>
        <div class="mt-2 mt-sm-0">
          <div class="d-flex flex-column">
            <small for="time" class="control-label">Zeit</small>
            <p-inputNumber [(ngModel)]="timeToAnswerQuestion" [showButtons]="true" spinnerMode="vertical" id="time"
              inputStyleClass="prioInputs" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 ml-3">
      <button class="btn btn-outline-success" (click)="startClick()">
        Starten!
      </button>
    </div>
  </div>
  <div class="mt-4 alert alert-danger" roler="alert" *ngIf="noQuestionsFound">
    <span>Keine Fragen gefunden!</span>
  </div>
  <div *ngIf="questionLoading" class="mt-3 loader mx-auto"></div>
  <div *ngIf="questionToAnswer" class="mt-3 card bg-light">
    <div class="card-header text-center">
      <ng-container *ngIf="maxTime != null">
        <div class="progress w-100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            [style.width.%]="progressBarWidth" [class.bg-warning]="progressBarWidth < 50"
            [class.bg-danger]="progressBarWidth < 25" aria-valuenow="{{timeLeft}}" aria-valuemin="0"
            aria-valuemax="{{timeToAnswerQuestion}}"></div>
        </div>
        <span class="text-center">{{timeLeft}}</span>
      </ng-container>
      <div class="row mt-3">
        <div class="col-2 col-lg-1">
          <a *ngIf="lastQuestions.length > 0" (click)="getLastAnsweredQuestion()">
            <i class="bi bi-caret-left" width="32" height="32"></i>
          </a>
        </div>
        <div class="col-8 col-lg-10 ">
          <div *ngIf="this.questionImageSrc != null && this.questionImageSrc != ''"
            (click)="imageClicked(this.questionImageSrc)">
            <img [src]="this.questionImageSrc" class="questionImage" />
            <br>
          </div>
          <span class="h5">{{questionToAnswer.question}}</span>
        </div>
        <div class="col-2 col-lg-1 ">
          <a (mousedown)="showBlackCarret = true; this.getQuestionToAnswer(false)" (mouseup)="showBlackCarret = false">
            <i *ngIf="!showBlackCarret" class="bi bi-caret-right" width="32" height="32"></i>
            <i *ngIf="showBlackCarret" class="bi bi-caret-right-fill" width="32" height="32"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="questionToAnswer.idQuestionType == 1">
        <div>
          <input class="form-control" [(ngModel)]="answer" placeholder="Antwort..."
            (keyup.enter)="!answerGiven && checkAnswer()" />
        </div>
      </div>
      <div *ngIf="questionToAnswer.idQuestionType == 2">
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="multipleChoiceAnswerSelected(1)"
                    [checked]="multipleChoiceGuessedAnswer == 1" />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="questionToAnswer.answers[0].answer" disabled />
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="multipleChoiceAnswerSelected(2)"
                    [checked]="multipleChoiceGuessedAnswer == 2" />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="questionToAnswer.answers[1].answer" disabled />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="multipleChoiceAnswerSelected(3)"
                    [checked]="multipleChoiceGuessedAnswer == 3" />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="questionToAnswer.answers[2].answer" disabled />
            </div>
          </div>
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <input type="checkbox" (change)="multipleChoiceAnswerSelected(4)"
                    [checked]="multipleChoiceGuessedAnswer == 4" />
                </span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="questionToAnswer.answers[3].answer" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <div class="answerButtons">
          <ng-container *ngIf="!onlyImageAnswers">
            <div class="mr-3">
              <button class="btn btn-outline-primary" (click)="!answerGiven && checkAnswer()" [disabled]="answerGiven">
                Antworten
              </button>
            </div>
            <div>
              <button class="btn btn-outline-primary" (click)="!answerGiven && answeredWithThoughtAnswer = true"
                [disabled]="answerGiven">
                Gedachte Antwort
              </button>
            </div>
          </ng-container>
          <div *ngIf="onlyImageAnswers">
            <button class="btn btn-outline-primary" (click)="!answerGiven && answeredWithThoughtAnswer = true"
              [disabled]="answerGiven">
              Antwort anzeigen
            </button>
          </div>
        </div>

        <div class="mt-4">
          <div class="alert alert-danger" roler="alert" *ngIf="multipleChoiceQuestionAnsweredWrong">
            <ng-container *ngIf="questionToAnswer.idQuestionType == 2">
              <span>Falsche Antwort! Richtige Antwort: <strong>{{multipleChoiceRightAnswer}}</strong></span>
            </ng-container>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="questionAnsweredCorrectly">
            <span>Richtige Antwort!</span>
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="percentageOfAnswerToLow">
            <span>Antwort eventuell falsch! Richtige Antworten</span>
            <ul>
              <ng-container *ngFor="let possibleAnswer of questionToAnswer.answers">
                <li *ngIf="!possibleAnswer.answerWrong">
                  <span
                    *ngIf="possibleAnswer.answerImage == '' || possibleAnswer.answerImage == null">{{possibleAnswer.answer}}</span>
                  <div class="mt-2" (click)="imageClicked(possibleAnswer.answerImage)">
                    <img *ngIf="possibleAnswer.answerImage != null && possibleAnswer.answerImage != ''"
                      class="questionImage" [src]="possibleAnswer.answerImage">
                  </div>
                </li>
              </ng-container>
            </ul>
            <div class="decisionButton">
              <div>
                <button class="btn btn-outline-danger" (click)="addAnswerToWrongAnswers()">
                  Ant. Falsch
                </button>
              </div>
              <div>
                <button class="btn btn-outline-success" (click)="addAnswerToRightAnswers()">
                  Ant. Richtig
                </button>
              </div>
            </div>
          </div>
          <div class="alert alert-info" role="alert" *ngIf="answeredWithThoughtAnswer">
            <span>Richtige Antworten</span>
            <ul>
              <ng-container *ngFor="let possibleAnswer of questionToAnswer.answers">
                <li *ngIf="!possibleAnswer.answerWrong">
                  <span
                    *ngIf="possibleAnswer.answerImage == '' || possibleAnswer.answerImage == null">{{possibleAnswer.answer}}</span>
                  <div class="mt-2" (click)="imageClicked(possibleAnswer.answerImage)">
                    <img *ngIf="possibleAnswer.answerImage != null && possibleAnswer.answerImage != ''"
                      class="questionImage" [src]="possibleAnswer.answerImage">
                  </div>
                </li>
              </ng-container>
            </ul>
            <div class="decisionButton">
              <div>
                <button class="btn btn-outline-danger" (click)="progressThoughtAnswerResult(false)">
                  Ant. Falsch
                </button>
              </div>
              <div>
                <button class="btn btn-outline-success" (click)="progressThoughtAnswerResult(true)">
                  Ant. Richtig
                </button>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="normalQuestionAnsweredWrong">
            <span>Antwort falsch! Richtige Antworten</span>
            <ul>
              <ng-container *ngFor="let possibleAnswer of questionToAnswer.answers">
                <li *ngIf="!possibleAnswer.answerWrong">
                  {{possibleAnswer.answer}}
                  <div class="mt-2" (click)="imageClicked(possibleAnswer.answerImage)">
                    <img *ngIf="possibleAnswer.answerImage != null && possibleAnswer.answerImage != ''"
                      class="questionImage" [src]="possibleAnswer.answerImage">
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <show-image-in-full-screen #showImageComponent></show-image-in-full-screen>
